<md-content  id="twitter-content">


    <!-- menu -->
    <aside id="right-menu" layout="column" layout-align="center center">
        <md-button md-no-ink class="md-primary" ng-click="refresh()">Refresh</md-button>
        <md-select flex id="vk-groups" ng-model="filters.SourceId" class="inline" aria-label="Search in Vk News" ng-change="getByFilters()">
            <md-option value="0">All sources</md-option>
            <md-option ng-repeat="item in model.Sources" value="{{:: item.Id }}">
                {{:: item.Name }}
            </md-option>
        </md-select>
        <form ng-submit="search()">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Search</label>
                <input ng-model="filters.SearchString">
            </md-input-container>
        </form>
    </aside>


    <div infinite-scroll='getNews()' infinite-scroll-disabled='model.IsLoad' infinite-scroll-distance='5' layout="row" layout-align="center center">
        <to-top></to-top>
        <md-list flex="45">
            <md-list-item ng-repeat="item in model.News" class="md-3-line md-long-text" layout="row" layout-align="center center">

                <blockquote class="twitter-tweet" data-lang="en">
                    <p lang="ru" dir="ltr">
                        <!--{{:: item.Text }}-->
                        <!--Руководство по чтению самых замысловатых объявлений в Си-->
                        <!--<a href="https://t.co/AX7igJmZFf">https://t.co/AX7igJmZFf</a>-->
                        <md-progress-circular md-mode="indeterminate" style="position: absolute; left: 45%"></md-progress-circular>
                    </p>
                    <!--&mdash; Типичный программист (@tproger)-->

                    <a href="https://twitter.com/{{:: model.SourceMap[item.SourceId].screenName }}/status/{{:: item.Id }}"></a>
                </blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </md-list-item>

        </md-list>
    </div>
</md-content>