<!-- menu -->
<aside id="right-menu" layout="column" layout-align="center center">
    <md-select flex id="vk-groups" ng-model="searchFeed" aria-label="Search in Rss">
        <md-option value="0">All Feeds</md-option>
        <md-option ng-repeat="feed in feeds" value="{{:: feed.Feed.Id }}">
            {{:: feed.Feed.Name }}
        </md-option>
    </md-select>
    <form ng-submit="rssc.search()">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Search</label>
            <input ng-model="filters.searchText">
        </md-input-container>
    </form>
</aside>

<div ng-show="!showArticle" flex layout="column" id="feed-articles-container" ng-class="{'tabs': tabs.length != 0, 'title-list': tabs.length == 0}">
    <h3>{{ currentFeedTitle }}</h3>
    <md-button class="md-raised" ng-click="rssc.markReadAll()" ng-show="articles.length > 0 && !hideMarkReadAll" style="width: 150px;">
        Mark read all
    </md-button>

    <div>
        <article ng-repeat="article in articles" class="title" flex layout="column">
            <div layout="row">
                <!--<a ng-if="settings.ShowOpenTab" class="material-icons col-md-1 bookmark" href="{{:: article.Link }}">link</a>-->
                <a ng-if="settings.ShowLinkButton" class="material-icons col-md-1 bookmark" href="{{:: article.Link }}" target="_blank">link</a>
                <i ng-if="settings.ShowPreviewButton && article.Body.length == 0" class="material-icons col-md-1 bookmark" ng-click="rssc.showPreview(article)">keyboard_arrow_down</i>
                <i ng-if="settings.ShowPreviewButton && article.Body.length > 0" class="material-icons col-md-1 bookmark" ng-click="rssc.hidePreview(article)">keyboard_arrow_up</i>
                <i ng-if="settings.ShowTabButton" class="material-icons col-md-1 bookmark" ng-click="rssc.addTab(article.Id, article.Title)">tab</i>

                <i ng-if="settings.ShowReadButton && article.IsRead" class="material-icons col-md-1 bookmark" ng-click="rssc.toggleAsRead(article.Id, !article.IsRead)">label_outline</i>
                <i ng-if="settings.ShowReadButton && !article.IsRead" class="material-icons col-md-1 bookmark" ng-click="rssc.toggleAsRead(article.Id, !article.IsRead)">label</i>

                <!--<i class="material-icons col-md-1 bookmark" ng-if="article.IsBookmark" ng-click="rssc.toggleBookmark(article)">bookmark</i>-->
                <span ng-if="settings.ShowBookmarkButton">
                    <i ng-if="article.IsBookmark"  class="material-icons col-md-1 bookmark" ng-click="rssc.unsetBookmark(article.Id)">bookmark</i>
                    <i ng-if="!article.IsBookmark" class="material-icons col-md-1 bookmark" ng-click="rssc.setBookmark(article.Id)">bookmark_border</i>
                </span>
                <div class="article-title" ng-bind="article.Title" ng-click="rssc.getArticle(article)" ng-class="{ 'is-read': !article.IsRead }"></div>
            </div>

            <md-content ng-if="article.Body.length > 0" class="content-preview">
                <div ng-bind-html="article.Body"></div>
                <md-button class="md-raised" ng-href="{{ article.Link }}" target="_blank">Read</md-button>
            </md-content>
        </article>


    </div>
</div>

<div flex class="center" ng-show="articles.length > 0">
    <paging
            page="page"
            page-size="20"
            total="articlesCount"
            text-first="First"
            text-last="Last"
            text-next="Next"
            text-prev="Previous"
            show-prev-next="true"
            show-first-last="true"
            paging-action="rssc.getArticlesByPage(page)"
    >
    </paging>
</div>

<!-- one article -->
<article ng-show="showArticle" flex layout="column" layout-align="start start" id="article-preview-container">
    <h3>
        <a class="title-link" ng-href="{{ article.Link }}" target="_blank" ng-bind="article.Title"></a>
    </h3>
    <div layout="row">
        <md-button class="md-raised" ng-click="rssc.stepBack()">Back to list</md-button>
        <md-button class="md-raised" ng-click="rssc.setBookmark(currentArticle.Id)">Set as bookmark</md-button>
    </div>
    <br>
    <div ng-bind-html="article.Body"></div>
</article>