<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>News Reader</title>

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <!-- rev-hash -->
    <link rel="stylesheet" href="dist/app.css"/>
    <!-- end -->
</head>


<body ng-controller="mainCtrl as mc" ng-cloak>
<header flex ng-init="mc.init()">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button aria-label="rss" ng-click="mc.showRss()" ng-if="settings.RssEnabled">
                Rss
            </md-button>
            <md-button aria-label="refresh" ng-click="mc.showVk()" ng-if="settings.VkNewsEnabled">
                Vkontakte
            </md-button>
            <md-button aria-label="refresh" ng-click="mc.showTwitter()" ng-if="settings.TwitterEnabled">
                Twitter
            </md-button>

            <md-menu id="main-menu">
                <md-button aria-label="menu" class="md-icon-button" ng-click="mc.openMenu($mdOpenMenu, $event)">
                    <i id="menu-btn-icon" class="material-icons">more_vert</i>
                </md-button>
                <md-menu-content width="4">
                    <span ng-controller="rssCtrl as rssc" ng-if="settings.RssEnabled && currentSource == Sources.Rss">
                        <!-- rss menu items -->
                        <md-menu-item >
                            <md-button aria-label="Twitter" ng-click="rssc.openAdd()">
                                <i class="material-icons menu-icons">add</i>
                                Add feed
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="Twitter" ngf-select="rssc.uploadOpml($file)">
                                <i class="material-icons menu-icons">file_upload</i>
                                Upload OPML
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="Twitter" ng-click="rssc.createOpml()">
                                <i class="material-icons menu-icons">file_download</i>
                                Download OPML
                            </md-button>
                        </md-menu-item>

                    </span>
                    <md-menu-item>
                        <md-button aria-label="settings" ng-click="mc.openSettings()">
                            <i class="material-icons menu-icons">settings</i>
                            Settings
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button aria-label="Twitter" ng-click="mc.logout()">
                            <i class="material-icons menu-icons">exit_to_app</i>
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
</header>

<!-- RSS -->
<div ng-if="settings.RssEnabled && currentSource == Sources.Rss" ng-controller="rssCtrl as rssc" layout="row" style="height: calc(100vh - 64px - 48px);">
    <!-- Rss -->
    <!-- left side -->
    <div flex="30">
        <ng-include src="'static/html/rss/feed-list.html'"></ng-include>
    </div>



    <!-- right side -->
    <section id="feed-articles" flex layout="column">
        <!-- Rss titles list -->
        <div ng-show="tabs.length == 0">
            <ng-include src="'static/html/rss/title-list.html'"></ng-include>
        </div>
        <div ng-show="tabs.length != 0">
            <ng-include src="'static/html/rss/tabs.html'"></ng-include>
        </div>
    </section>
</div>

<!-- Vkontakte -->
<div id="vk-container" ng-if="settings.VkNewsEnabled && currentSource == Sources.Vk" ng-controller="vkCtrl as vkc">
    <ng-include src="'static/html/vk/vk-news.html'"></ng-include>
</div>

<!-- Twitter -->
<div id="twitter-container" ng-if="settings.TwitterEnabled && currentSource == Sources.Twitter" ng-controller="twitterCtrl as tc">

    <ng-include src="'static/html/twitter/news-list.html'"></ng-include>
</div>

<!-- footer -->
<footer>
    <div id="export-link"></div>

    <!-- rev-hash -->
    <script src="dist/libs.js"></script>
    <script src="dist/output.js"></script>
    <!-- end -->
</footer>
</body>

</html>
