<div ng-show="!showArticle" class="col-md-12 col-xs-12">
    <h3>{{ currentFeedTitle }}</h3>
    <md-button class="md-primary" ng-click="vm.markReadAll()" ng-show="articles.length > 0 && !hideMarkReadAll">Mark
        read all
    </md-button>
    <article ng-repeat="article in articles" class="col-md-12 col-xs-12 title">
        <i ng-if="settings.ShowPreviewButton && article.Body.length == 0" class="material-icons col-md-1 bookmark" ng-click="vm.showPreview(article)">keyboard_arrow_down</i>
        <i ng-if="settings.ShowPreviewButton && article.Body.length > 0" class="material-icons col-md-1 bookmark" ng-click="vm.hidePreview(article)">keyboard_arrow_up</i>
        <i ng-if="settings.ShowTabButton" class="material-icons col-md-1 bookmark" ng-click="vm.addTab(article.Id, article.Title)">tab</i>

        <i ng-if="settings.ShowReadButton && article.IsRead" class="material-icons col-md-1 bookmark" ng-click="vm.toggleAsRead(article.Id, !article.IsRead)">label_outline</i>
        <i ng-if="settings.ShowReadButton && !article.IsRead" class="material-icons col-md-1 bookmark" ng-click="vm.toggleAsRead(article.Id, !article.IsRead)">label</i>

        <!--<i class="material-icons col-md-1 bookmark" ng-if="article.IsBookmark" ng-click="vm.toggleBookmark(article)">bookmark</i>-->
        <i class="material-icons col-md-1 bookmark" ng-if="article.IsBookmark" ng-click="vm.unsetBookmark(article.Id)">bookmark</i>
        <i class="material-icons col-md-1 bookmark" ng-if="!article.IsBookmark" ng-click="vm.setBookmark(article.Id)">bookmark_border</i>
        <div class="article-title" ng-bind="article.Title" ng-click="vm.getArticle(article)" ng-class="{ 'is-read': !article.IsRead }"></div>
        <md-content ng-if="article.Body.length > 0">
            <div ng-bind-html="article.Body"></div>
            <md-button class="md-primary" ng-href="{{ article.Link }}" target="_blank">Read →</md-button>
        </md-content>
    </article>

    <div class="col-md-12 center" ng-show="articles.length > 0">
        <paging
            page="page"
            page-size="20"
            total="articlesCount"
            text-first="First"
            text-last="Last"
            text-next="Next"
            text-prev="Previous"
            show-prev-next="true"
            show-first-last="true"
            paging-action="vm.getArticlesByPage(page)"
        >
        </paging>
    </div>
</div>

<!-- one article -->
<article ng-show="showArticle" class="col-md-12 col-xs-12">
    <h3>
        <a class="title-link" ng-href="{{:: article.Link }}" target="_blank" ng-bind="article.Title"></a>
    </h3>
    <md-button class="md-primary" ng-click="vm.stepBack()">Back to list</md-button>
    <md-button class="md-primary" ng-click="vm.setBookmark(currentArticle.Id)">Set as bookmark</md-button>
    <div ng-bind-html="article.Body"></div>
</article>