<md-content>
    <!-- select with groups -->
    <aside id="vk-menu">
        <md-select ng-model="filters.GroupId" class="inline" aria-label="Search in Vk News" ng-change="getByFilters()">

            <md-option value="0">All groups</md-option>
            <md-option ng-repeat="group in model.VkGroups" value="{{:: group.Gid }}">
                {{:: group.Name }}
            </md-option>

        </md-select>
    </aside>

    <!-- list with news -->
    <md-content id="vk-news">
        <div infinite-scroll='getVkNews()' infinite-scroll-disabled='model.IsLoad' infinite-scroll-distance='1'>
            <div class="vk-news-item" ng-repeat="item in model.VkNews">
                <article ng-bind-html="item.Text" class="vk-news-text"></article>
                <img ng-src="{{:: item.Image }}" />
                <div class="vk-news-manage-buttons" layout="row" layout-align="space-between center">
                    <!--<md-button ng-click="loadComments(item)">Show comments</md-button>-->
                    <md-button href="https://vk.com/wall-{{:: item.GroupId }}_{{:: item.PostId }}" target="_blank">Open →</md-button>
                </div>
            </div>
        </div>
        <div ng-show='model.IsLoad' layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </md-content>
</md-content>

