body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    /*font-family: 'Open Sans', Arial, sans-serif;*/
    height: calc(100vh - 64px - 48px);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  color: #808080;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.menu-icons {
    position: relative !important;
    top: 7px !important;
}

#settings-modal {
    width: 550px;
}

#setting-tabs {
    height: 450px !important;
}
#menu-btn-icon {
    color: #fff;
}
#right-menu {
    position: fixed;
    right: 5px;
    top: 85px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    width: 200px;
}

/* Rss
===================================================================================================================== */
#feed-list-container,
#feed-articles-container {
    height: calc(100vh - 64px - 48px);
    overflow: auto;
}
.feed-title,
.article-title {
    padding: 10px;
}
.feed-title:hover,
.article-title:hover {
    cursor: pointer;
    text-decoration: underline;
}
.is-read {
    font-weight: bold;
}
.inline {
    display: inline-block;
}
.delete-feed {
    font-size: 18px !important;
    color: #808080;
    cursor: pointer;
}
 .title-link,
 .title-link:hover {
     color: #808080;
     font-weight: bold;
 }
 .hidden {
     display: none;
 }
 .bookmark {
     cursor: pointer;
 }
.center {
    text-align: center;
}
.bookmark {
    font-size: 18px !important;
    width: 35px;
    height: 35px;
    padding-top: 8px;
    padding-right: 30px;
    margin-top: 3px;
}
.bookmark:hover {
    background-color: #e2e2e2;
    border: 1px solid #c3c3c3;
}
button {
    font-family: Roboto,"Helvetica Neue",sans-serif !important;
}
#search-container {
    float: right;
}

.wp-post-image {
    width: 100%;
}
.button-icon {
    cursor: pointer;
}

.title-buttons {
    height: 80px !important;
    width: 80px !important;
}

#feed-articles .title:hover,
#feed-titles .row:hover {
    background-color: #efefef;
}

#logout {
    position: absolute;
    right: 15px;
    top: 4px;
}

.md-fab.md-warn i {
    padding-top: 12px;
    font-size: 33px;
    color: #fff;
}

/* rss-fixme */
.tabs {
    height: 1100px !important;
}

.content-preview img {
    max-width: 100%;
}



/* Vk
======================================================================================================================*/
#vk-content {
    background: #edeef0;
}

#vk-news {
    text-align: center;
    background: #edeef0;
}

.vk-news-item {
    width: 40%;
    margin: 20px auto;
    padding-bottom: 5px;
    background-color: #fff !important;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.vk-news-item img {
    max-width: 100%;
}
.group-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: top;
    margin: 10px 10px 0 10px;
}

.group-name {
    margin-top: 25px;
}

.group-name a {
    font-weight: 600;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #2a5885;
    text-decoration: none;
    cursor: pointer;
}

.vk-news-text {
    text-align: left;
    padding: 10px;
}

.external-link,
.external-link:hover {
    color: #939393;
    line-height: 12px;
    text-decoration: none;
}

#go-to-top-btn {
    position: fixed;
    right: 5px;
    bottom: 20px;
}

#go-to-top-btn i {
    color: #fff;
    font-size: 30px;
    padding-top: 12px;
}

/* Twitter
======================================================================================================================*/
#twitter-content md-list-item {
    margin: 20px 0;
}
#twitter-content .md-list-item-text {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.twitter-tweet.twitter-tweet-rendered {
    margin: auto !important;
}
.twitter-news-image {
    width: 100%;
}
.twitter-news-text,
.twitter-news-text:hover {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.twitter-source-name {
    margin-top: 12px;
    font-weight: 700;
    color: #000;
}
.twitter-source-screen-name {
    color: #777;
    margin-top: 12px;
    margin-left: 10px;
}
.twitter-source-link,
.twitter-source-link:hover {
    text-decoration: none;
    padding-left: 10px;
}
