<md-dialog class="col-md-4">
    <h3>Sign In or Sign Up</h3>
    <p ng-show="errorMessage.length > 0">
        {{ errorMessage }}
    </p>
    <form name="authForm">
        <p>
            <md-input-container class="md-block">
                <label>Name</label>
                <input ng-model="username" required>
            </md-input-container>
        </p>
        <p>
            <md-input-container class="md-block">
                <label>Password</label>
                <input ng-model="password" type="password" required>
            </md-input-container>
        </p>
    </form>
    <md-dialog-actions layout="row">
        <md-button class="md-primary" ng-click="auth()" ng-disabled="authForm.$invalid">
            Auth
        </md-button>
        <md-button class="md-primary" ng-click="registration()" ng-disabled="authForm.$invalid">
            Registration
        </md-button>
    </md-dialog-actions>
</md-dialog>